html, body{
   height: 100%;
}

body{
   display: flex;
   justify-content: center;
   align-items: center;
   background: rgb(2,0,36);
   background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(153,43,110,1) 35%, rgba(0,212,255,1) 100%);
}

p{
   font-family: sans-serif;
   font-size: 45px;
   color: #ffff;
   font-weight: bold;
}