#footer {
   width: 100%;
   height: 82px;
   background-image: url(../../../assets/icons/footerline.svg);
   background-repeat: no-repeat;
   background-position: top center;
   background-size: 95% 100%;
}